github "https://github.com/rosberry/ButterBroad" "hotfix/ISD-326"
github "https://github.com/rosberry/Analog"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json"
github "facebook/facebook-swift-sdk" "master"
