<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956845202980-lcr4c0tpa5ma8omejliokla4u4o3rko9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956845202980-lcr4c0tpa5ma8omejliokla4u4o3rko9</string>
	<key>API_KEY</key>
	<string>AIzaSyD0PKOl-ROUHPwiLTFX5CR8tRHv31l-YK8</string>
	<key>GCM_SENDER_ID</key>
	<string>956845202980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rosberry.CrashlyticsBroad</string>
	<key>PROJECT_ID</key>
	<string>crashlyticsbroad</string>
	<key>STORAGE_BUCKET</key>
	<string>crashlyticsbroad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956845202980:ios:800c842709b06956</string>
	<key>DATABASE_URL</key>
	<string>https://crashlyticsbroad.firebaseio.com</string>
</dict>
</plist>